{% extends 'newsapp/index.html' %}
{% block content %}
    {% if articles %}
    <ul>
        {% for article in articles %}
        <li class="article">
            <h2>{{ article.title }}</h2>
            <p>{{ article.description }}</p>
            <a target="_blank" href="{{ article.link }}">Дивитись статтю</a><br>
            <!--<a href="{% url 'artcl_url' article.id %}">Більше про данні</a>-->
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>Nothing found.</p>
    {% endif %}
{% endblock %}