<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
</head>
<body>
    <h1>Search results by country and by key word</h1>
    <form action="{% url 'results' %}" method="POST">
        {% csrf_token %}
        <label for="country">Country: </label>
        <input type="text" id="country" name="country"><br>
        <label for="keyword">Key word: </label>
        <input type="text" id="keyword" name="keyword"><br>
        <input type="submit" value="Search">
    </form>
    {% block content %}
    {% endblock %}
</body>
</html>
